<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta http-equiv="cleartype" content="on">
<meta name="MobileOptimized" content="320">
<meta name="HandheldFriendly" content="True">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" href="{{ '/assets/style.css' | prepend:site.baseurl }}">
<link rel="canonical" href="{{ page.url | replace:'index.html','' }}">
<title>{{ site.title | capitalize }}{% if page.title %}{% if page.url != '/' %} - {{ page.title | capitalize }}{% endif %}{% endif %}</title>
