<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			
<!-- <img src="https://kokorocollective.github.io/images/KoKoro image.png"> -->

			<nav>
	    		<ul>
	        		<!-- commented out for now <li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li> -->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul><BR><BR><BR><BR><BR>
	        		<li><a href=mailto:info@KoKorocollective.co.uk>Email KoKoro Collective CIC</a></li>
				<li><a href="https://www.facebook.com/KoKorocollectiveCIC/">Check KoKoro Collective out on FaceBook.</a></li>
	        		<li><a href="https://instagram.com/kokorocollectivecic?igshid+1jlca6v5xitl5">Follow KoKoro Collective CIC on Instagram</a></li>
				</ul>
			</footer>
		</body>
	</html>
