<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<ul>
	        		<a href=mailto:info@KoKorocollective.co.uk> <img border="0" alt="Click for Email" src="../images/emailicon.png" width="50" height="50"><BR><BR></a>

	        		<a href="https://www.facebook.com/KoKorocollectiveCIC/"> <img border="0" alt="Click for FaceBook" src="../images/facebookimg.png" width="50" height="50"><BR></BR></a>

	        		<a href="https://instagram.com/kokorocollectivecic?igshid+1jlca6v5xitl5"><img border="0" alt="Click for Instagram" src="../images/instagramicon.png" width="50" height="50"></a><BR>

	        		<a href="https://www.youtube.com/channel/UC2JawNMnSuULu61F2ZDXobQ/videos"><img border="0" alt="Click for YouTube" src="../images/youtubeicon2.png" width="50" height="50"></a><BR><BR>

	        		
</a>
				</ul> 
		</head>
		<body>
			
			<nav>
	    		<ul>
	        		<!-- <li><a href="/">Home</a></li> -->
		        	<!-- <li><a href="/about">About</a></li>
	        		commented out for now<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li> -->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>

	    		
			</footer>
		</body>
	</html>
